@page
@model CrudRazorPages_EF.DetailsModel

@{ ViewData["Title"] = "Details"; }

<h1>Detalhes</h1>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Funcionario.Nome)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Funcionario.Nome)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Funcionario.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Funcionario.Email)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Funcionario.Idade)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Funcionario.Idade)</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Funcionario.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
